################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/back/Molecular.Core/bin/Debug/netcoreapp1.1
/back/Molecular.Core/obj
